@page "/"
@inject blazorTagNavigation.Services.ITagsService TagsService


<div class="mb-3 d-flex align-items-center">
    <h1 class="flex-grow-1 mb-1 text-nowrap" style="padding-right:.5em">@selectedTag.description</h1>
    <div class="btn-group btn-group-sm overflow-hidden">
        @foreach (var tag in tags)
        {
            <button class="btn btn-@tag.bg_color text-@tag.text_color" @onclick="()=>selectedTag=tag">@tag.name</button>
        }
        <div hidden></div>
    </div>
    <div class="btn-group btn-group-sm">
        <button class="btn btn-dark" style="border-radius:0 .2em .2em 0" data-bs-toggle="dropdown">...</button>
        <div class="dropdown-menu bg-secondary">
            
                @foreach (var tag in tags)
                {
                    <button class="btn d-block btn-sm btn-@tag.bg_color text-@tag.text_color rounded-0" style="width:100%; text-align:left;padding-left:1em;padding-right:1em" @onclick="()=>selectedTag=tag">@tag.name</button>
                }
                        
        </div>
    </div>
</div>

@code {
    List<tag> tags = new List<tag>();
    tag selectedTag = new tag();

    protected override void OnInitialized()
    {
        tags = TagsService.getTags();
        selectedTag = tags.FirstOrDefault();
    }
}
